
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}

body {
    margin: 0 auto;
    /* background-color:yellow; */
    text-align: center;
    background-image: url('https://media.istockphoto.com/id/983004274/vector/smiley-background-vector-template-with-yellow-funny-smileys-or-emoticons-and-empty-blank-space.jpg?s=612x612&w=0&k=20&c=OMcil-qp7wzFQJCw9ImJwCq9pyCoSm419lw0fC0WxqU=');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size:cover ;
    font-style: italic;
    font-size: medium;
    
    
    
}

.m-5-auto {
    margin: 5rem auto;
}

.primary-button {
    margin-top: 5rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize;
}

/***    Landing Page     ***/
#join-text{
    margin-top:20px;
}

.main-title,
.main-para {
    color: #f1f1f1;
}

.main-title {
    padding-top: 10rem;
    font-size: 5rem;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color:black;
}

.main-para {
    margin-top:20px;
    font-size: 2.2rem;
    text-Transform: capitalize;
    color: #333;
}

#reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/***    Login Page     ***/

h2 {
    font-weight: 300;
}

form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0
}

form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0;
}

.right-label {
    float: right;
    cursor: pointer;
}

input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none;
}

#sub_btn {
    display: block;
    width: 150px;
    height:50px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
}

#sub_btn:hover {
    background: #333;
    transition: all .5s;
}

footer p {
    margin: 0;
    font-size: .9rem;
}

/***    Register Page     ***/

#checkbox {
    width: 1rem;
}

form span {
    font-size: .8rem;
}

#reset_pass_lbl {
    float: left;
}

/***    Home Page     ***/
.home-page-title {
    color: #222;
}

.linksDiv a{
    color:black;
    background-color:white;
}
.memeImage{
    object-fit: contain;
    width:400px;
    height:400px;
}

#memes-button{
    width:300px;
    height:100px;
    font-size:40px;
    color:yellow;
    background-color:black;

}

.loginForm{
    background-color: rgb(149, 149, 149);
    width:400px;
    height:300px;
}

.loginForm input{
height:50px;
}
.loginForm input::placeholder{
    text-align:center;
    font-size:16px;
    color: rgb(82, 82, 82);
    }

.forgotPassword{
  margin-left:40%;
  margin-top:20px;
  margin-bottom:20px;
  font-style: italic;
  font-size: medium;
  color: #222;
  font-weight: bolder;
}

#sign-in-h2{
    font-size:30px;
    font-weight:bold;
    color: #000;
    
}

.registerForm {
    background-color: rgb(149, 149, 149);
}

.registerForm label{
   margin-left:35%;
   font-size:16px;
   margin-bottom:20px;
   margin-top:10px;
}

.registerForm input{
    height:50px;
    font-size: medium;
    font-style: oblique;
    color: #000000;
    font-size: large;

}
.registerForm input::placeholder{
 text-align: center;
 font-size:16px;
}

#meme-title{
    margin-top:30px;
   font-size:50px;
   font-weight:bold;
   background-color:rgb(255, 255, 255);
   width:100%;
}

.addMemeForm{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    width:400px;
    justify-content:center;
    background-color: rgb(129, 129, 129);
    font-style: inherit;
    font-weight: 400;
}

.addMemeForm input{
    margin-top:10px;
    margin-bottom: 10px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
}

.addMemeForm input::placeholder{
    text-align:center;
    color: rgb(5, 5, 5);
}

.addMemeForm button{
   width:120px;
   height:40px;
   margin-left:auto;
   margin-right:auto;
   color:yellow;
   background-color: #222;
   border:0px;
   margin-top:10px;
   border-radius:10px;
}

.addMemeForm button:hover{
    color:black;
    background-color:white;

}

#add-meme-link{
color:blue;
text-decoration:underline;
padding-bottom:20px;
width:100%;
background-color:white;

}

#add-meme-link:hover{
    color:rgb(255, 0, 0);
    }

#meme-heading{
margin-top:10px;
margin-bottom:10px;
color: black;
font-style: italic;
font-weight: bold;
}

.memesContainer{
display:flex;
flex-direction:row;
flex-wrap: wrap;
}

.memeButton{
    margin-left:20px;
    height:40px;
    width:120px;
    color:yellow;
    background-color:rgb(56, 56, 56);
    border:0px;
    border-radius:10px;
    margin-top:20px;
    margin-bottom:50px;
    font-weight:200;


}

.memeButton:hover{
    color:rgb(56, 56, 56);
    background-color:white;
}

#meme-view-image{
    object-fit:contain;
    width:500px;
}

#meme-view-back{
    width:180px;
    height:40px;
    color:yellow;
    background-color:black;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#meme-view-back:hover{
    color:black;
    background-color:white;
}

#logout-button{
    position:absolute;
    background-color:black;
    color:yellow;
    width:120px;
    height:40px;
    margin-left:40%;
    margin-top:30px;
    margin-bottom:0px;
    top:0px;
    font-size: large;
}

#logout-button:hover{
    position:absolute;
    background-color:#f4efef;
    color:black;
    width:120px;
    height:40px;
    margin-left:40%;
    margin-top:30px;
    margin-bottom:0px;
    top:0px;
    font-size: large;
}
marquee{
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
    color:rgb(0, 0, 0);
    width: 50%;
    
}